html {
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f3f4f6;
  color: #1b556f;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background: #f3f4f6;
  margin: 0.5rem;
  border-radius: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background: gray;
  border: none;
  border-radius: 6px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #66d9af;
  cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: #f3f4f6 !important;
  color: #fdfdfd;
  -webkit-text-fill-color: #fdfdfd;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #f3f4f6;
}

a {
  text-decoration: unset;
  color: unset;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  display: block;
  color: #1b556f;
  width: 100%;
  height: auto;
}

main {
  margin-bottom: 8rem;
}
@media (min-width: 992px) {
  main {
    margin-bottom: 10rem;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page-width, .service-section, .other-services__container, .std-services__container,
.why-me__container, .about__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 75%;
  }
}
@media (min-width: 1600px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 70%;
  }
}
@media (min-width: 1800px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 65%;
  }
}
@media (min-width: 2000px) {
  .page-width, .service-section, .other-services__container, .std-services__container,
  .why-me__container, .about__container {
    width: 60%;
  }
}

.nav {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: ) {
  .nav {
    width: 85%;
  }
}

.about {
  background-color: #fff;
  color: #111a28;
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .about__container {
    align-items: center;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.std-services,
.why-me {
  background-color: #fff;
}
.std-services__container,
.why-me__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (min-width: 992px) {
  .std-services__container,
  .why-me__container {
    padding: 4rem 0;
    gap: 2rem;
  }
}
.std-services__grid,
.why-me__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.why-me {
  background-color: #f3f4f6;
}

.other-services__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem auto;
  padding: 3rem 5%;
  border-radius: 3px;
}
@media (min-width: 992px) {
  .other-services__container {
    margin: 4rem auto;
  }
}
@media (min-width: 1200px) {
  .other-services__container {
    flex-direction: row;
    margin: 6rem auto;
  }
}
.other-services__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.other-services__tag-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.other-services__img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .other-services__img-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1200px) {
  .other-services__img-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .top-wrapper {
    height: calc(100vh - 6rem);
  }
}

.top-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .top-wrapper2 {
    height: calc(100vh - 6rem);
  }
}

.page-hero {
  background-color: #fff;
  height: 100%;
}
.page-hero__container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: #024b62;
  background: linear-gradient(135deg, #024b62 50%, #1b556f 50%);
}
@media (min-width: 992px) {
  .page-hero__container {
    flex-direction: row-reverse;
  }
}
.page-hero__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-basis: 50%;
  color: #fdfdfd;
  padding: 2rem 5% 3rem 5%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .page-hero__content {
    padding: 2rem 7.5% 3rem 7.5%;
  }
}
@media (min-width: 992px) {
  .page-hero__content {
    flex-basis: 60%;
    padding: 2rem 5% 3rem 5%;
  }
}
@media (min-width: 1400px) {
  .page-hero__content {
    flex-basis: 50%;
  }
}

.contact-hero__content {
  margin: 0 auto;
}
@media (min-width: 576px) {
  .contact-hero__content {
    max-width: 500px;
    padding: 3rem 0;
  }
}
@media (min-width: 992px) {
  .contact-hero__content {
    max-width: 100%;
    padding: 2rem 5% 3rem 5%;
  }
}
.contact-hero__divider {
  width: 100%;
  border: 1px solid #1b556f;
  margin-top: 1rem;
}
.contact-hero__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
}
@media (min-width: 992px) {
  .contact-hero__links {
    margin-top: 1rem;
  }
}

.service-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 5rem auto;
}
@media (min-width: 992px) {
  .service-section {
    gap: 5rem;
  }
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: #024b62;
  color: #dbf9ee;
}
.footer__container {
  display: grid;
  grid-template-areas: "segment-1" "segment-2" "segment-4";
  gap: 2rem 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (min-width: 992px) {
  .footer__container {
    max-width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "segment-1 segment-3 segment-4" "segment-2 segment-3 segment-4";
  }
}
@media (min-width: 1200px) {
  .footer__container {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "segment-1 segment-2 segment-3 segment-4";
  }
}
@media (min-width: 1400px) {
  .footer__container {
    width: 85%;
  }
}
.footer__segment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #66d9af;
}
.footer__line {
  display: flex;
  gap: 0 1rem;
  font-weight: 600;
  color: #66d9af;
  flex-wrap: wrap;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #dbf9ee;
  font-weight: 400;
}
.footer__link:hover {
  color: #dbf9ee;
}
.footer__link div {
  text-decoration: underline;
}
.footer__hor-divider {
  width: 100%;
  height: 2px;
  background-color: #dbf9ee;
  opacity: 0.25;
}
@media (min-width: 992px) {
  .footer__hor-divider {
    display: none;
  }
}
.footer__ver-divider {
  width: 2px;
  height: 100%;
  background-color: #dbf9ee;
  opacity: 0.25;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  background-color: #111a28;
  margin: 0 auto;
  padding: 1rem 0;
}

.footer__segment-1 {
  grid-area: segment-1;
}

.footer__segment-2 {
  grid-area: segment-2;
}

.footer__segment-3 {
  grid-area: segment-3;
}

.footer__segment-4 {
  grid-area: segment-4;
}

.header {
  width: 100%;
  min-height: 6rem;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
@media (min-width: 1400px) {
  .navbar {
    width: 85%;
  }
}
.navbar__logo {
  width: 200px;
}
@media (min-width: 992px) {
  .navbar__logo {
    width: 250px;
  }
}
.navbar__logo img {
  width: 100%;
  height: auto;
}
.navbar__list {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
@media (min-width: 992px) {
  .navbar__list {
    display: flex;
    align-items: center;
  }
}
.navbar__link {
  position: relative;
  color: #1b556f;
  font-weight: 600;
  font-size: 1.125rem;
}
.navbar__link:hover {
  color: #24967e;
}
.navbar__link--active {
  color: #24967e;
}
.navbar__marker {
  position: absolute;
  top: 0;
  transform: translate(0, -200%);
  left: 0;
  width: 100%;
  display: block;
  height: 20px;
  background-color: #24967e;
}
.navbar__toggle {
  cursor: pointer;
  width: 2rem;
  height: auto;
}
@media (min-width: 992px) {
  .navbar__toggle {
    display: none;
  }
}

.dropdown {
  position: relative;
  top: -1rem;
  z-index: 500;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .dropdown {
    display: none;
  }
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 1rem;
}
.dropdown__list li {
  width: 7.5rem;
}
.dropdown__link {
  display: flex;
  position: relative;
  width: 100%;
  color: #1b556f;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.dropdown__link:hover {
  color: #1b556f;
}
.dropdown__link--active {
  color: #27a489;
}

em {
  font-style: italic;
  font-weight: 600;
}

.hero__heading {
  color: #66d9af;
  font-size: 2.5rem;
}
@media (min-width: 992px) {
  .hero__heading {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .hero__heading {
    font-size: 3.25rem;
  }
}
@media (min-width: 1400px) {
  .hero__heading {
    font-size: 3.5rem;
  }
}

.hero__subheading {
  color: #66d9af;
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  .hero__subheading {
    font-size: 1.5rem;
  }
}
.hero__subheading strong {
  text-decoration: underline;
}

.about__heading,
.other-services__heading {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 992px) {
  .about__heading,
  .other-services__heading {
    font-size: 2rem;
  }
}

.std-services__heading,
.why-me__heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 992px) {
  .std-services__heading,
  .why-me__heading {
    font-size: 2rem;
  }
}

.serv-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1.5rem 2rem;
  background-color: #024b62;
  color: #fdfdfd;
  border-radius: 3px 3px 0 0;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  .serv-heading {
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .serv-heading {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }
}

.page-hero__title {
  font-size: 2.5rem;
  color: #66d9af;
}
@media (min-width: 992px) {
  .page-hero__title {
    font-size: 3.5rem;
  }
}

.page-hero__heading {
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #66d9af;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .page-hero__heading {
    font-size: 1.375rem;
  }
}

.hero__text,
.page-hero__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
}
@media (min-width: 992px) {
  .hero__text,
  .page-hero__text {
    font-size: 1.125rem;
  }
}

.service-list__heading {
  background-color: #e5edf0;
  color: #1b556f;
  padding: 1rem 2rem;
  border: 1px solid #cad5d8;
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .service-list__heading {
    width: 100%;
    font-size: 1.25rem;
  }
}

.info-box__heading {
  font-size: 1.5rem;
  font-weight: 700;
  align-content: end;
}
@media (min-width: 992px) {
  .info-box__heading {
    padding-bottom: 1rem;
    font-size: 2rem;
  }
}

.contact-form__heading {
  font-size: 1.375rem;
  font-weight: 600;
  color: #f3f4f6;
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .contact-form__heading {
    font-size: 1.75rem;
  }
}

.hero {
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 6rem);
  }
}
.hero__container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "hero-img" "hero-content" "contact-banner";
}
@media (min-width: 992px) {
  .hero__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "hero-img hero-content" "contact-banner contact-banner";
  }
}
@media (min-width: 1200px) {
  .hero__container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero-img hero-img hero-img hero-content hero-content" "contact-banner contact-banner contact-banner contact-banner contact-banner";
  }
}
.hero__image {
  width: 100%;
  background-image: url("../assets/images/hero.jpg");
  background-size: cover;
  background-position: center center;
}
.hero__wrapper {
  position: relative;
  background-color: #024b62;
  overflow: hidden;
}
.hero__content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  padding: 2rem 5% 3rem 5%;
}
@media (min-width: 768px) {
  .hero__content {
    padding: 0 7.5%;
  }
}
@media (min-width: 768px) {
  .hero__content {
    padding: 0 5%;
  }
}
.hero__bg-circle--large::before {
  content: "";
  position: absolute;
  background-color: #2094aa;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  opacity: 0.4;
}
@media (min-width: 992px) {
  .hero__bg-circle--large::before {
    width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 1200px) {
  .hero__bg-circle--large::before {
    width: 30rem;
    height: 30rem;
  }
}
.hero__bg-circle--small::before {
  content: "";
  position: absolute;
  background-color: #2094aa;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  display: none;
}
@media (min-width: 992px) {
  .hero__bg-circle--small::before {
    display: block;
    width: 15rem;
    height: 15rem;
  }
}
@media (min-width: 1200px) {
  .hero__bg-circle--small::before {
    width: 20rem;
    height: 20rem;
  }
}

.hero__image {
  grid-area: hero-img;
}

.hero__wrapper {
  grid-area: hero-content;
}

.contact-banner {
  grid-area: contact-banner;
}

.badge {
  position: absolute;
  z-index: 100;
  background-color: #111a28;
  border-radius: 50%;
  left: 2rem;
  top: 2rem;
  width: 6rem;
  height: 6rem;
  font-weight: 600;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1200px) {
  .badge {
    left: 3rem;
    top: 3rem;
    width: 8rem;
    height: 8rem;
  }
}
.badge__top {
  position: absolute;
  color: #fff;
  top: 40%;
  left: 50%;
  font-weight: 600;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "montserrat", sans-serif;
}
@media (min-width: 1200px) {
  .badge__top {
    font-size: 1.75rem;
  }
}
.badge__bottom {
  position: absolute;
  bottom: 40%;
  right: 50%;
  color: #66d9af;
  font-weight: 500;
  transform: translate(50%, 50%);
  font-family: "roboto slab", sans-serif;
}
@media (min-width: 1200px) {
  .badge__bottom {
    font-size: 1.25rem;
  }
}

.contact-banner {
  background-color: #111a28;
  position: relative;
  top: 0;
}
.contact-banner__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 5% 1.5rem 5%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .contact-banner__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7.5%;
  }
}
.contact-banner__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact-banner__icon-bg {
  position: absolute;
  left: 0.25rem;
  background-color: #dbf9ee;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .contact-banner__icon-bg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.contact-banner__arrow {
  width: 1rem;
  color: #24967e;
  color: #dbf9ee;
}
@media (min-width: 992px) {
  .contact-banner__arrow {
    width: 1.125rem;
  }
}
.contact-banner__text {
  color: #dbf9ee;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .contact-banner__text {
    font-size: 1.25rem;
  }
}

.serv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #024b62;
  color: #fff;
  border-radius: 15px;
  padding: 2rem;
  transition: all 250ms;
}
.serv-card:hover {
  color: #fff;
  opacity: 0.75;
}
.serv-card__heading {
  font-size: 1.375rem;
  font-weight: 600;
  color: #66d9af;
}
@media (min-width: 992px) {
  .serv-card__heading {
    font-size: 1.5rem;
  }
}
.serv-card__text {
  text-align: center;
}

.why-me-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #1b556f;
  padding: 1rem;
  line-height: 1.35;
}
@media (min-width: 992px) {
  .why-me-card {
    padding: 2rem;
  }
}
.why-me-card__heading {
  font-size: 1.375rem;
  font-weight: 600;
}
.why-me-card__text {
  text-align: center;
}

.info-box {
  display: grid;
  grid-template-areas: "heading" "image" "text";
  gap: 1rem;
  background-color: #fff;
  border-radius: 3px;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .info-box {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .info-box {
    grid-template-areas: "heading image" "text image";
    grid-template-columns: 2fr 1fr;
    gap: 0 2rem;
  }
}
.info-box__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-box__image {
  border-radius: 3px;
  width: 100%;
}

.info-box__heading {
  grid-area: heading;
}

.info-box__text {
  grid-area: text;
}

.info-box__image {
  grid-area: image;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #24967e;
  color: #fff;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 250ms;
}
.link-button:hover {
  color: #fff;
  opacity: 0.75;
}

.hero__cta {
  margin-right: auto;
  margin-top: 1.125rem;
}
@media (min-width: 992px) {
  .hero__cta {
    font-size: 1.25rem;
  }
}

.contact-form__button {
  font-family: "montserrat", sans-serif;
  font-size: 1.125rem;
  background-color: #66d9af;
  color: #111a28;
  margin-right: auto;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  border: 3px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms;
}
.contact-form__button:hover {
  border: 3px solid #66d9af;
  background-color: transparent;
  color: #66d9af;
}

.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1000;
  width: 7rem;
  height: 7rem;
  background-color: #24967e;
  color: #fdfdfd;
  border-radius: 50%;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .page-scroll {
    bottom: 4.5rem;
    right: 4.5rem;
    width: 4rem;
    height: 4rem;
    align-content: center;
    justify-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}
.page-scroll__icon {
  position: absolute;
  color: #f3f4f6;
  width: 2rem;
  height: 2rem;
  transform: translate(-70%, -70%);
}
@media (min-width: 992px) {
  .page-scroll__icon {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(0);
  }
}
.page-scroll__icon svg {
  width: 100%;
  height: 100%;
  color: #f3f4f6;
}

.about__image {
  width: 200px;
  border-radius: 5px;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .about__image {
    width: 225px;
  }
}
.about__image img {
  border-radius: 5px;
}

.other-services__image {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.page-hero__image {
  height: auto;
  min-height: 300px;
  width: 100%;
  flex-basis: 40%;
  background-color: #111a28;
  background-size: cover;
  background-position: center center;
  display: flex;
}
@media (min-width: 1400px) {
  .page-hero__image {
    flex-basis: 50%;
  }
}
.page-hero__image--installation {
  background-image: url("../assets/images/installation.jpg");
}
.page-hero__image--service {
  background-image: url("../assets/images/service.jpg");
}
.page-hero__image--repair {
  background-image: url("../assets/images/repair.jpg");
}
@media (min-width: 1400px) {
  .page-hero__image--contact {
    outline: 3px solid rgba(255, 255, 255, 0.0392156863);
    outline-offset: -3rem;
  }
}

.info-box__image img {
  border-radius: 3px;
}

.link-icon {
  width: 1.5rem;
  color: #dbf9ee;
}

.copyright-icon {
  width: 1rem;
  color: #dbf9ee;
}

.link-button-icon {
  width: 1rem;
  color: #fff;
}

.contact-banner__icon {
  z-index: 100;
  width: 2rem;
  color: #24967e;
}
@media (min-width: 992px) {
  .contact-banner__icon {
    width: 3rem;
  }
}
.contact-banner__icon svg {
  color: #24967e;
}

.serv-heading__icon svg {
  width: 3rem;
  color: #66d9af;
}
@media (min-width: 992px) {
  .serv-heading__icon svg {
    width: 4rem;
  }
}

.list-icon svg {
  width: 1.25rem;
  color: #024b62;
}
@media (min-width: 992px) {
  .list-icon svg {
    width: 1.5rem;
  }
}

.why-me-card__icon {
  width: 3rem;
  height: 3rem;
}
@media (min-width: 992px) {
  .why-me-card__icon {
    width: 4rem;
    height: 4rem;
  }
}
.why-me-card__icon svg {
  width: 100%;
  height: auto;
}

.serv-card__icon {
  width: 3rem;
  height: 3rem;
  color: #66d9af;
}
@media (min-width: 992px) {
  .serv-card__icon {
    width: 4rem;
    height: 4rem;
  }
}
.serv-card__icon svg {
  width: 100%;
  height: auto;
  color: #66d9af;
}

.service-list {
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  width: auto;
  padding-top: 4rem;
}
.service-list:last-child {
  padding-bottom: 4rem;
}
.service-list__content {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .service-list__content {
    width: 100%;
  }
}
.service-list__entries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.service-list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #e0dfdf;
  padding-top: 1rem;
  padding-left: 1rem;
}
@media (min-width: 992px) {
  .service-list__item {
    padding-left: 2rem;
  }
}
.service-list__item:first-child {
  border-top: none;
  padding-top: 0;
}

.contact-hero__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 992px) {
  .contact-hero__list {
    margin-top: 1rem;
  }
}
.contact-hero__list li {
  list-style: disc;
  margin-left: 1rem;
}
.contact-hero__list li::marker {
  color: #66d9af;
}

.serv-tag {
  background-color: #c0f2db;
  border-radius: 10px;
  text-align: center;
  color: #1b556f;
  font-weight: 600;
  padding: 0.5rem;
}

.contact-form {
  background-color: #111a28;
  border-radius: 3px;
  border-radius: 3px;
  align-self: center;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.contact-form__wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.contact-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: none;
  margin: 0 auto;
  padding: 0;
}
.contact-form__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}
.contact-form__label {
  position: absolute;
  top: -1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #f3f4f6;
  transition: all 250ms;
}
@media (min-width: 992px) {
  .contact-form__label {
    font-size: 1.125rem;
  }
}
.contact-form__input, .contact-form__textarea {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-bottom: 3px solid gray;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  color: #fdfdfd;
  transition: border-color 250ms;
}
@media (min-width: 992px) {
  .contact-form__input, .contact-form__textarea {
    font-size: 1.125rem;
  }
}
.contact-form__input:focus, .contact-form__textarea:focus {
  outline: none;
  border-bottom: 3px solid #66d9af;
}
.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  font-weight: 500;
}
.contact-form__input::placeholder, .contact-form__textarea::placeholder {
  font-weight: 500;
}
.contact-form__textarea {
  font-family: "montserrat", sans-serif;
  resize: none;
  overflow-y: auto;
  font-size: 1rem;
  height: 8rem;
  padding-right: 1rem;
}
.contact-form__clear {
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: gray;
  transition: color 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form__clear:hover {
  color: #66d9af;
}

#clear-msg {
  top: 0;
  right: 0;
}

.contact-form__input:focus + .contact-form__label {
  color: #66d9af;
}

.contact-form__textarea:focus + .contact-form__label {
  color: #66d9af;
}

.contact-form__input:-moz-placeholder-shown + .contact-form__label + .contact-form__clear {
  display: none;
}

.contact-form__input:placeholder-shown + .contact-form__label + .contact-form__clear {
  display: none;
}

.contact-form__textarea:-moz-placeholder-shown + .contact-form__label + .contact-form__clear {
  display: none;
}

.contact-form__textarea:placeholder-shown + .contact-form__label + .contact-form__clear {
  display: none;
}

.hider {
  background-color: #111a28;
  height: 1rem;
}

.input-error {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f47777;
  padding-top: 0.25rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  align-items: center;
  align-self: center;
  border-radius: 3px;
  background: rgba(102, 217, 175, 0.2156862745);
  border: 3px solid #66d9af;
  color: #fdfdfd;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
}
.feedback--success {
  background: rgba(102, 217, 175, 0.2156862745);
  border: 3px solid #66d9af;
}
.feedback--warning {
  background-color: #fffbeb;
}
.feedback--error {
  background: rgba(244, 119, 119, 0.2156862745);
  border: 3px solid #f47777;
}
.feedback--info {
  background-color: #eff6ff;
}

.feedback__heading {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 992px) {
  .feedback__heading {
    font-size: 1.25rem;
  }
}
.feedback__heading--success {
  color: #66d9af;
}
.feedback__heading--warning {
  color: #92400e;
}
.feedback__heading--error {
  color: #f47777;
}
.feedback__heading--info {
  color: #1e40af;
}

.feedback__text {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 992px) {
  .feedback__text {
    font-size: 1.125rem;
  }
}
.feedback__text--success {
  color: #66d9af;
}
.feedback__text--warning {
  background-color: #fffbeb;
  color: #b45309;
}
.feedback__text--error {
  color: #f47777;
}
.feedback__text--info {
  background-color: #eff6ff;
  color: #1c51b9;
}

.feedback__icon {
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}
@media (min-width: 992px) {
  .feedback__icon {
    width: 2rem;
    height: 2rem;
  }
}
.feedback__icon--success {
  color: #66d9af;
}
.feedback__icon--warning {
  color: #fbbf24;
}
.feedback__icon--error {
  color: #f47777;
}
.feedback__icon--info {
  color: #60a5fa;
}/*# sourceMappingURL=styles.css.map */