.feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 3rem;
  align-items: flex-start;
  align-self: flex-start;
  gap: 0.5rem;
  border-radius: 5px;
  background: #ecfdf5;
  position: relative;

  &--success {
    background-color: getColor(success);
  }

  &--warning {
    background-color: getColor(warning);
  }

  &--error {
    background-color: getColor(error);
  }

  &--info {
    background-color: getColor(info);
  }
}

.feedback__heading {
  font-size: 1rem;
  font-weight: 500;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.125rem;
  }

  &--success {
    color: getColor(successHeading);
  }

  &--warning {
    color: getColor(warningHeading);
  }

  &--error {
    color: getColor(errorHeading);
  }

  &--info {
    color: getColor(infoHeading);
  }
}

.feedback__text {
  font-size: 0.875rem;
  font-weight: 400;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1rem;
  }

  &--success {
    background-color: getColor(success);
    color: getColor(successText);
  }

  &--warning {
    background-color: getColor(warning);
    color: getColor(warningText);
  }

  &--error {
    background-color: getColor(error);
    color: getColor(errorText);
  }

  &--info {
    background-color: getColor(info);
    color: getColor(infoText);
  }
}

.feedback__icon {
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  top: 1rem;
  left: 1rem;

  @media (min-width: getBreakpoint(large)) {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--success {
    color: getColor(successIcon);
  }

  &--warning {
    color: getColor(warningIcon);
  }

  &--error {
    color: getColor(errorIcon);
  }

  &--info {
    color: getColor(infoIcon);
  }
}