.feedback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  align-items: center;
  align-self: center;
  border-radius: 3px;
  background: #66d9af37;
  border: 3px solid #66d9af;
  color: getColor(whiteText);
  position: relative;
  margin: 0 auto;
  padding: 2rem;

  &--success {
    background: #66d9af37;
    border: 3px solid #66d9af;
  }

  &--warning {
    background-color: getColor(warning);
  }

  &--error {
    background: #f4777737;
    border: 3px solid #f47777;
  }

  &--info {
    background-color: getColor(info);
  }
}

.feedback__heading {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.25rem;
  }

  &--success {
    color: #66d9af;
  }

  &--warning {
    color: getColor(warningHeading);
  }

  &--error {
    color: #f47777;
  }

  &--info {
    color: getColor(infoHeading);
  }
}

.feedback__text {
  font-size: 1rem;
  font-weight: 500;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.125rem;
  }

  &--success {
    background-color: getColor(success);
    color: #66d9af;
  }

  &--warning {
    background-color: getColor(warning);
    color: getColor(warningText);
  }

  &--error {
    background-color: getColor(error);
    color: #f47777;
  }

  &--info {
    background-color: getColor(info);
    color: getColor(infoText);
  }
}

.feedback__icon {
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  top: 2rem;
  left: 1.5rem;

  @media (min-width: getBreakpoint(large)) {
    width: 2rem;
    height: 2rem;
  }

  &--success {
    color: #66d9af;
  }

  &--warning {
    color: getColor(warningIcon);
  }

  &--error {
    color: #f47777;
  }

  &--info {
    color: getColor(infoIcon);
  }
}
