html {
  box-sizing: border-box;
  height: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-color: getColor(primaryBg);
  color: getColor(darkText);
  font-size: 1rem;
  font-family: $main;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: unset;
  color: unset;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  color: getColor(darkText);
  width: 100%;
  height: auto;
}

main {
  margin-bottom: 8rem;

  @media (min-width: getBreakpoint(large)) {
    margin-bottom: 10rem;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.link-icon {
  width: 1.5rem;
  color: getColor(footerText);
}

.copyright-icon {
  width: 1rem;
  color: getColor(footerText);
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: getColor(primaryBtnBg);
  color: #fff;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;

  &:hover {
    color: #fff;
    opacity: 0.75;
  }
}

.link-button-icon {
  width: 1rem;
  color: #fff;
}
