.serv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: getColor(colorBg);
  color: #fff;
  border-radius: 15px;
  padding: 2rem;

  &:hover {
    color: #fff;
    opacity: 0.75;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    color: #66d9af;

    & svg {
      width: 100%;
      height: auto;
      color: #66d9af;
    }
  }

  &__heading {
    font-size: 1.375rem;
    font-weight: 600;
    color: #66d9af;
  }

  &__text {
    text-align: center;
  }
}

.why-me-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: getColor(darkText);
  padding: 2rem;
  line-height: 1.35;

  &__icon {
    width: 4rem;
    height: 4rem;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  &__heading {
    font-size: 1.375rem;
    font-weight: 600;
  }

  &__text {
    text-align: center;
  }
}

.serv-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: getColor(cardBg);
  color: #fff;
  border-radius: 3px;
  font-size: 1.25rem;
  text-align: center;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    gap: 2rem;
  }
}
