.serv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: getColor(colorBg);
  color: #fff;
  border-radius: 15px;
  padding: 2rem;
  transition: all 250ms;

  &:hover {
    color: #fff;
    opacity: 0.75;
  }

  &__heading {
    font-size: 1.375rem;
    font-weight: 600;
    color: #66d9af;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.5rem;
    }
  }

  &__text {
    text-align: center;
  }
}

.why-me-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: getColor(darkText);
  padding: 1rem;
  line-height: 1.35;

   @media (min-width: getBreakpoint(large)) {
      padding: 2rem;
    }

  &__heading {
    font-size: 1.375rem;
    font-weight: 600;
  }

  &__text {
    text-align: center;
  }
}

.info-box {
  display: grid;
  grid-template-areas:
    "heading"
    "image"
    "text";
  gap: 1rem;
  background-color: getColor(secondaryBg);
  border-radius: 3px;
  padding: 2rem 1rem;

  @media (min-width: getBreakpoint(medium)) {
    padding: 2rem;
  }

  @media (min-width: getBreakpoint(large)) {
    grid-template-areas:
      "heading image"
      "text image";
    grid-template-columns: 2fr 1fr;
    gap: 0 2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__image {
    border-radius: 3px;
    width: 100%;
  }
}

.info-box__heading {
  grid-area: heading;
}

.info-box__text {
  grid-area: text;
}

.info-box__image {
  grid-area: image;
}
