.footer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: getColor(footerBg);
  color: getColor(footerText);

  &__container {
    display: grid;
    grid-template-areas:
      "segment-1"
      "segment-2"
      "segment-4";
    gap: 2rem 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;

    @media (min-width: getBreakpoint(large)) {
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
        "segment-1 segment-3 segment-4"
        "segment-2 segment-3 segment-4";
    }

    @media (min-width: getBreakpoint(xLarge)) {
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "segment-1 segment-2 segment-3 segment-4";
    }

    @media (min-width: getBreakpoint(twoXLarge)) {
      width: 85%;
    }
  }

  &__segment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: getColor(footerHeading);
  }

  &__line {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    color: getColor(footerHeading);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: getColor(footerText);
    font-weight: 400;

    &:hover {
      color: getColor(footerText);
    }

    & div {
      text-decoration: underline;
    }
  }

  &__hor-divider {
    width: 100%;
    height: 2px;
    background-color: #dbf9ee;
    opacity: 0.25;

    @media (min-width: getBreakpoint(large)) {
      display: none;
    }
  }

  &__ver-divider {
    width: 2px;
    height: 100%;
    background-color: #dbf9ee;
    opacity: 0.25;
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    font-size: 0.875rem;
    background-color: #111a28;
    margin: 0 auto;
    padding: 1rem 0;
  }
}

.footer__segment-1 {
  grid-area: segment-1;
}

.footer__segment-2 {
  grid-area: segment-2;
}

.footer__segment-3 {
  grid-area: segment-3;
}

.footer__segment-4 {
  grid-area: segment-4;
}


