.contact-form {
  //   background-color: #e5edf0;
  //   border: 1px solid #cad5d8;
  //   background-color: getColor(secondaryBg);
  background-color: #111a28;
  border-radius: 3px;
  padding: 2.5rem 1.5rem;
  border-radius: 3px;
  align-self: center;

  @extend .page-width;

  @media (min-width: getBreakpoint(small)) {
    padding: 3rem 2rem;
  }

  &__wrapper {
    @extend .page-width;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
    margin: 0 auto;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label {
    position: absolute;
    top: 1.75rem;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    font-weight: 500;
    color: getColor(primaryBg);
    transform-origin: left center;
    transition: all 250ms;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    height: 3.5rem;
    padding-top: 1rem;
    // padding-left: 1rem;
    padding-right: 2.5rem;
    border: none;
    border-bottom: 2px solid getColor(primaryBg);
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    font-family: inter;
    font-size: 1rem;
    color: getColor(whiteText);
    transition: border-color 250ms;

    &:focus {
      outline: none;
      border-bottom: 2px solid getColor(primaryHeading);
    //   background-color: #000;
      // outline: 1px solid getColor(accentCol1);
    }

    &::placeholder {
      color: transparent;
    }

    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
    }
  }

  &__textarea {
    resize: none;
    overflow-y: hidden;
    min-height: 8rem;
    padding-top: 1.75rem;
    padding-bottom: 1rem;
  }
}

.contact-form__input {
  color: getColor(primaryBg);

  &:focus {
    outline: none;
    border-bottom: 3px solid getColor(primaryHeading);
  }
}

.contact-form__input:focus + .contact-form__label,
.contact-form__input:not(:placeholder-shown) + .contact-form__label {
  transform: translate(0, -2rem) scale(0.8);
  color: getColor(primaryHeading);
}

.contact-form__textarea:focus + .contact-form__label,
.contact-form__textarea:not(:placeholder-shown) + .contact-form__label {
  transform: translate(0, -2rem) scale(0.8);
  color: getColor(primaryHeading);
}

.contact-form__input:placeholder-shown
  + .contact-form__label
  + .contact-form__clear {
  display: none;
}

.contact-form__textarea:placeholder-shown
  + .contact-form__label
  + .contact-form__clear {
  display: none;
}
