.header {
  width: 100%;
  min-height: 100px;
  background-color: getColor(navbarBg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  @media (min-width: getBreakpoint(twoXLarge)) {
    width: 85%;
  }

  &__logo {
    width: 200px;

    @media (min-width: getBreakpoint(large)) {
    width: 250px;
  }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    @media (min-width: getBreakpoint(large)) {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    position: relative;
    color: getColor(darkText);
    font-weight: 600;
    font-size: 1.125rem;

    &:hover {
      color: #24967E;
    }

    &--active {
      color: #24967E;
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    // top: -100%;
    transform: translate(0, -200%);
    left: 0;
    width: 100%;
    display: block;
    height: 20px;
    background-color: getColor(primaryBtnBg);
  }

  &__toggle {
    cursor: pointer;
    width: 2rem;
    height: auto;

    @media (min-width: getBreakpoint(large)) {
      display: none;
    }
  }
}

.dropdown {
  padding: 0.5rem 0 1.5rem 0;
  z-index: 1000;
  position: relative;
  background-color: #fff;

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    margin: 0 auto;
    padding: 0;

    & li {
      width: 7.5rem;
    }
  }

  &__link {
    display: flex;
    position: relative;
    width: 100%;
    color: getColor(darkText);
    font-weight: 600;
    justify-content: center;
    align-items: center;

    &:hover {
      color: getColor(darkText);
    }

    &--active {
      color: #27a489;
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.75rem;
    display: block;
    height: 100%;
    transform: translateX(-100%);
    background-color: #27a489;
  }
}
