.about__image {
  width: 200px;
  border-radius: 5px;
  flex-shrink: 0;

   @media (min-width: getBreakpoint(large)) {
      width: 225px;
    }

  & img {
    border-radius: 5px;
  }
}

.other-services__image {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.page-hero__image {
  height: auto;
  min-height: 300px;
  width: 100%;
  flex-basis: 40%;
  background-image: url("../assets/images/pic-11.png");
  background-size: cover;
  background-position: center center;

  @media (min-width: getBreakpoint(twoXLarge)) {
      flex-basis: 50%;
    }

  &--installation {
    background-image: url("../assets/images/installation.jpg");
  }

  &--service {
    background-image: url("../assets/images/service.jpg");
  }

  &--repair {
    background-image: url("../assets/images/repair.jpg");
  }
}
