.service-list {
  background-color: getColor(secondaryBg);
  border-radius: 0 0 3px 3px;
  width: auto;
  padding-top: 4rem;

  &:last-child {
    padding-bottom: 4rem;
  }

  &__content {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
      width: 100%;
    }
  }

  &__entries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #e0dfdf;
    padding-top: 1rem;
    padding-left: 1rem;

    @media (min-width: getBreakpoint(large)) {
      padding-left: 2rem;
    }

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}
