$main: "montserrat", sans-serif;
$badge: "inter tight", sans-serif;

$breakpoints: (
  xSmall: 420px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
  twoXLarge: 1400px,
  threeXLarge: 1600px,
  fourXLarge: 1800px,
  fiveXLarge: 2000px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

$colors: (
  cardBg: #1b556f,
  headingBg: #024b62,
  colorBg: #024b62,
  footerBg: #024b62,
  accentBg: #2094aa,
  badgeBg: #111a28,
  tagBg: #c0f2db,
  primaryBg: #f3f4f6,
  navbarBg: #fff,
  secondaryBg: #fff,
  formBg: #e8eef5,
  primaryBtnBg: #24967E,
  primaryHeading: #66d9af,
  darkText: #1b556f,
  blackText: #111a28,
  whiteText: #fff,
  footerHeading: #66d9af,
  footerText: #dbf9ee,
  // Alerts
  successHeading: #065f46,
  successText: #047857,
  successIcon: #34d399,
  errorHeading: #92400e,
  errorText: #fd740b,
  errorIcon: #f87171,
  errorInput: #f47777,
  warning: #fffbeb,
  warningHeading: #92400e,
  warningText: #b45309,
  warningIcon: #fbbf24,
  info: #eff6ff,
  infoHeading: #1e40af,
  infoText: #1c51b9,
  infoIcon: #60a5fa,
);

@function getColor($color) {
  @return map-get($colors, $color);
}
